body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
}

.footer {
    background: #000000;
    color: #fff;
    padding: 20px 0;
}

.content {
    padding: 40px;
    height: 100vh;
}
ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}